.videoFrame{
  width:100%;
}
.videoFrame video {
  display: block;
  margin: 0 auto 10 10;
}
.controlButtonL {
  height:30px;
  width:70px;
  border-radius:6px;
}
.controlButton, .dropDown, .rewindTextValue, .otherText {
  display:table-cell;
  vertical-align:top;
}
.controlButton {
  height:30px;
  width:7%;
  border-radius:6px;
}
.timestamp {
  font-family: 'Roboto Mono';
  font-size: 16px;
  margin: 0px 5px 5px 5px;
}
.vert-divider {
  font-family: 'Roboto Mono';
  font-size: 18px;
  color: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.dropDown {
  height:30px;
  width:7%;
  border-radius:6px;
  font-size:16px;
  line-height: 30px;
}
.rewindTextValue, .otherText {
	border: 1px solid #6297BC;
	border-radius:3px;
	height: 30px;
  line-height: 30px;
}
.rewindTextValue {
  width: 7%;
}
.otherText {
	width: 16%;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}