{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="titleText">
    <h1>Patient:
      <a href="{{ cameraannotation.camera.patient.get_absolute_url }}" data-toggle="tooltip" data-placement="bottom"
         data-trigger="hover" title="Link to patient data page">{{ cameraannotation.camera.patient }}</a></h1>
    {% if perms.sensors.can_alter_cameradata %}
      <button id="edit" class="titleButton controlButtonXL"
              onclick="window.location.href='{% url 'edit-camera-annotation' cameraannotation.camera.id cameraannotation.id|stringformat:'i' %}'"
              data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
              title="Edit Camera Annotation">
        <i class="material-icons buttonIconS">create</i> Edit
      </button>
    {% endif %}
  </div>
  <p><em>Session Time:</em>
    <a href="{{ cameraannotation.camera.get_absolute_url }}" data-toggle="tooltip" data-placement="bottom"
       data-trigger="hover" title="Link to wearable data page">{{ cameraannotation.camera.time }}</a>
    <span class="vert-divider">|</span> <em>Note:</em> {{ cameraannotation.camera.note }}
  </p>

  <hr>
  <p><strong>Annotator:</strong> {{ cameraannotation.annotator }}</p>
  <p><strong>Times (h:m:s:f):</strong> {{ cameraannotation.time_begin }} - {{ cameraannotation.time_end }}</p>
  <p><strong>Times (h:m:s,ms):</strong> {{ cameraannotation.ms_time_begin }} - {{ cameraannotation.ms_time_end }}</p>
  <p><strong>Frames:</strong> {{ cameraannotation.frame_begin }} - {{ cameraannotation.frame_end }}</p>
  <p><strong>Annotation:</strong> {{ cameraannotation.get_annotation_display }}
  </p>
  {% if cameraannotation.note %}
    <p><strong>Note:</strong> {{ cameraannotation.note }}</p>
  {% endif %}
  <hr>
  <h4>Comments</h4>
  {% for comment in cameraannotation.comments.all %}
    <div class="comment">
      <strong>{{ comment.author }}</strong> <em>(Posted on: {{ comment.timestamp }})</em>
      {% if user.is_authenticated %}
        {% if comment.author == user %}
          <button id="annotation_{{ annotation.id }}_edit" class="controlButtonXS"
                  onclick="window.location.href=''">
            <i class="material-icons buttonIcon" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
               title="Edit comment">edit</i>
          </button>
        {% endif %}
      {% endif %}
      <p>{{ comment.text|linebreaks }}</p>
    </div>
  {% empty %}
    <p>No comments.</p>
  {% endfor %}
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <h6>Post new comment:</h6>
    {{ form.text }}
    <div>
      <button type="submit" id="post" class="controlButtonL">Post</button>
      <input type="button" value="Back to Video" class="controlButtonXL"
             onclick="window.location.href='{{ cameraannotation.camera.get_absolute_url }}'" />
    </div>
  </form>
{% endblock %}
