{% extends "base.html" %}

{% block content %}
  <h1>My Camera Annotations</h1>
  <hr>
  <div class="annotation-objects">
    <ul id="annotation-objects-list">
      {% for annotation in cameraannotation_list %}
        <li>
          <a href="{{ annotation.camera.get_absolute_url }}">
            {{ annotation.camera.patient }} ({{ annotation.camera.time }})</a>
          - {{ annotation.timestamp}} - {{annotation.get_annotation_display}}{% if annotation.get_annotation_display == 'Other' %}: {{annotation.note}}{% endif %}
          ({{annotation.get_status_display}})
          <button id="annotation_{{ annotation.id }}_edit" class="controlButtonXS"
                  name="{% url 'edit-camera-annotation' annotation.camera.id annotation.id|stringformat:"i" %}">
            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" style="font-size: 22px"
               title="Edit annotation">edit</i>
          </button>
          <a href="{{ annotation.get_absolute_url }}"><em>({{ annotation.comments.count }}
            comment{% if annotation.comments.count != 1 %}s{% endif %})</em>
          </a>
        </li>
      {% empty %}
        <p>You have no annotations.</p>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block jquery %}
  $('button', $('#annotation-objects-list')).each(function () {
      $(this).click(function() {
          if ($(this).attr('id').indexOf('edit') > -1) {
              document.location.href = this.name;
          }
      })
  });
{% endblock %}