{% extends "base.html" %}

{% block title %}
  <title>Bristol Sphere PD Sensors - Camera Data</title>
{% endblock %}

{% load static %}

{% block content %}
  <h1>Patient: {{ cameradata.patient }} </h1>
  <p><em>Session Time:</em> {{ cameradata.time }}
    <span class="vert-divider">|</span>
    <em>Note:</em> {{ cameradata.note }}
    <span class="vert-divider">|</span>
    <button id="edit" class="controlButtonM" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
            title="Edit Camera Data"><i class="material-icons">create</i></button>
    <span class="vert-divider">|</span>
    <button id="help" class="controlButtonM" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
            title="Display shortcut keys"><i class="material-icons">settings</i></button>
  </p>
  <hr>

  <script src="{% static 'js/VideoFrame.min.js' %}"></script>

  <div class="videoFrame">
    <!-- VideoFrame Object -->
    <video height="50%" width="100%" id="video" src="{{ media_url }}{{ cameradata.filename }}" type="video/mp4" playsinline></video>
    <!-- Play Controls -->
    <div id="play-controls" class="playControls">
      <button id="play-pause" class="controlButtonL"><i class="material-icons">play_arrow</i></button>
      <input type="range" id="seek-bar" class="seekBar" style="width:50%;margin:5px 0px 0px 5px;" min="0" value="0" step="1">
      <span id="video-time" class="timestamp">00:00</span><span class="timestamp">/</span><span id="video-duration" class="timestamp">00:00</span>
      <button id="mute" class="controlButtonL" data-toggle="tooltip" data-placement="bottom"
                data-trigger="hover" title="Toggle mute"><i class="material-icons">volume_up</i></button>
      <input type="range" id="volume-bar" class="volumeBar" style="width:10%;margin:5px 0px 0px 5px;" min="0" max="1" step="0.1" value="1"/>
    </div>
    <!-- Form  -->
    <div id="form-controls" class="formControls">
      <form method="post" novalidate>
        {% csrf_token %}
        <!-- Seek Controls -->
        <div class="seekControls">
          <input type="text" id="rewind-value" class="rewindTextValue" value=0 data-toggle="tooltip" data-placement="bottom"
                 title="Frame to jump back to">
          <button id="rewind-video" class="controlButtonM" data-toggle="tooltip" data-placement="bottom"
                  data-trigger="hover" title="Jump back to frame"><i class="material-icons">skip_previous</i></button>
          <span class="vert-divider">|</span>
          <span class="selectBox">
            <select id="backward-increment" class="dropDown" data-toggle="tooltip" data-placement="bottom"
                    data-trigger="hover" title="# of frames to step back">
              <option value="1">1</option>
              <option value="2">5</option>
              <option value="3">10</option>
              <option value="4">25</option>
              <option value="5">50</option>
              <option value="6">100</option>
            </select>
          </span>
          <button id="seek-backward" class="controlButtonM" data-toggle="tooltip" data-placement="bottom"
                  data-trigger="hover" title="Step backwards"><i class="material-icons">fast_rewind</i></button>
          <span class="vert-divider">|</span>
          <span class="selectBox">
            <select id="forward-increment" class="dropDown" data-toggle="tooltip" data-placement="bottom"
                    data-trigger="hover" title="# of frames to step forward">
              <option value="1">1</option>
              <option value="2">5</option>
              <option value="3">10</option>
              <option value="4">25</option>
              <option value="5">50</option>
              <option value="6">100</option>
            </select>
          </span>
          <button id="seek-forward" class="controlButtonM" data-toggle="tooltip" data-placement="bottom"
                  data-trigger="hover" title="Step forwards"><i class="material-icons">fast_forward</i></button>
          <span class="vert-divider">|</span>
          <!-- Form Controls -->
          <span class="selectBox" data-toggle="tooltip" data-placement="bottom"
                data-trigger="hover" title="Annotation activity category">
            {{ form.annotation }}
          </span>
          <span data-toggle="tooltip" data-placement="bottom" title="Annotation Note">
            {{ form.note }}
          </span>
          <span class="selectBox" data-toggle="tooltip" data-placement="bottom"
                data-trigger="hover" title="Activity begin (+) or end (-)">
            {{ form.status }}
          </span>
          <button id="annotate" class="controlButtonM" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                  title="Add annotation" type="submit"><i class="material-icons">text_rotation_none</i></button>
        </div>
        <!-- Frame Details -->
        <div class="frameDetails">
          <span class="frameStatusText">Framerate:</span>
          <span class="selectBox">
          <select id="framerate-list" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                  title="Framerate options" class="fpsDropDown">
            <option value="1" selected=true>24</option>
            <option value="2">25</option>
            <option value="3">29.97</option>
            <option value="4">30</option>
            <option value="5">60</option>
          </select>
        </span>
          <span class="vert-divider">|</span>
          <span class="frameStatusText">
            Current Frame: <input type="text" id="id-frame" value=0 class="rewindTextValue" readonly>
            {% comment %}<button id="copy-frame" class="controlButtonS" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                    title="Copy frame to clipboard"><i class="material-icons">assignment_returned</i></button>
            {% endcomment %}
            <span class="vert-divider">|</span>
            Current Timestamp (hh:mm:ss:ff): {{ form.timestamp }}
            {% comment %}<button id="copy-time" class="controlButtonS" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                    title="Copy time to clipboard"><i class="material-icons">assignment_returned</i></button>
            {% endcomment %}
          </span>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <!-- Camera Annotation List -->
  <div class="annotation-container" style="margin-left:20px;margin-top:20px">
    <h4>Camera Annotations <button id="export_all" class="controlButtonS" data-toggle="tooltip" data-placement="bottom"
                                   data-trigger="hover" title="Download annotations"><i class="material-icons">save_alt</i></button>
      <select id="download-format" class="downloadFormatDropDown" data-toggle="tooltip" data-placement="bottom"
              data-trigger="hover" title="Download format">
        <option value="1">Excel (.xls)</option>
        <option value="2">Subtitle (.srt)</option>
        <option value="3">Comma-separated Values (.csv)</option>
        <option value="4">Tab-delimited Text (.txt)</option>
      </select>
    </h4>
    <div class="annotation-objects">
      <ul id="annotation-objects-list">
        {% for annotation in cameradata.cameraannotation_set.all %}
          <li><a href="{{ annotation.get_absolute_url }}">
            {{annotation.timestamp}} - {{annotation.get_annotation_display}} ({{annotation.get_status_display}}) </a>
            <button id="annotation_{{ annotation.id }}_rewind" class="controlButtonXS" name="{{ annotation.timestamp }}">
              <i class="material-icons" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" style="font-size: 22px"
                 title="Jump to annotation">skip_previous</i></button>
            <button id="annotation_{{ annotation.id }}_edit" class="controlButtonXS"
                    name="{% url 'edit-camera-annotation' cameradata.id annotation.id|stringformat:"i" %}">
              <i class="material-icons" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" style="font-size: 22px"
                 title="Edit annotation">edit</i></button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/cameradata_detail.js' %}"></script>
{% endblock %}

{% block jquery %}
  $('[data-toggle="tooltip"]').tooltip();
{% endblock %}