{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>{{ cameraannotation.camera }}</h1>
  <hr>
  <p><strong>Annotator:</strong> {{ cameraannotation.annotator }}</p>
  <p><strong>Timestamp:</strong> {{ cameraannotation.timestamp }}</p>
  <p><strong>Annotation:</strong> {{ cameraannotation.get_annotation_display }}
    {% if cameraannotation.get_status_display == '+' %} (begin)
    {% elif cameraannotation.get_status_display == '-' %} (end)
    {% endif %}
  </p>
  {% if cameraannotation.note %}
    <p><strong>Note:</strong> {{ cameraannotation.note }}</p>
  {% endif %}
  <hr>
  <h4>Comments</h4>
  {% for comment in cameraannotation.comments.all %}
    <div class="comment">
      <strong>{{ comment.author }}</strong> <em>(Posted on: {{ comment.timestamp }})</em>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
  {% empty %}
    <p>No comments.</p>
  {% endfor %}
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <h6>Post new comment:</h6>
    {{ form.text }}
    <div>
      <button type="submit" id="post" class="controlButtonL">Post</button>
      <input type="button" value="Back to Video" class="controlButtonXL"
             onclick="window.location.href='{{ cameraannotation.camera.get_absolute_url }}'" />
    </div>
  </form>
{% endblock %}
