{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Camera Data</h1><button type='button' class="titleButton controlButtonXL"><i class="material-icons buttonIconS">add</i>Create New</button>
  </div>
  <hr>
  {% if cameradata_list %}
    <ul>
      {% for annotation in cameradata_list %}
        <li>
          <a href="{{ annotation.get_absolute_url }}">
            {{ annotation.patient }} ({{ annotation.time }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no camera data in the database.</p>
  {% endif %}       
{% endblock %}