{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Patient:
      <a href="{{ wearable.patient.get_absolute_url }}" data-toggle="tooltip" data-placement="bottom"
         data-trigger="hover" title="Link to patient data page">{{ wearable.patient }}</a></h1>
  </div>
  <p><em>Session Time:</em>
    <a href="{{ wearable.get_absolute_url }}" data-toggle="tooltip" data-placement="bottom"
       data-trigger="hover" title="Link to wearable data page">{{ wearable.time }}</a>
    <span class="vert-divider">|</span> <em>Note:</em> {{ wearable.note }}
  </p>
  <hr>

  <form action="" method="post" class="form-group">
    {% csrf_token %}
    <table>
      <p><strong>Annotator:</strong> {{ user.username }}</p>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Save" class="saveButton" />
    <input type="button" value="Cancel" class="cancelButton" onclick="window.history.back()" />
  </form>
{% endblock %}