{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Patient Data</h1>
    {% if perms.sensors.can_alter_patientdata %}
      <button type='button' class="titleButton controlButtonXL" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
            title="Create Patient Data" onclick='window.location.href="{% url 'create_patientdata' %}"'>
        <i class="material-icons buttonIconS">add</i> Create New
      </button>
    {% endif %}
  </div>
  <hr>
  <ul>
    {% for patientdata in patientdata_list %}
      <li>
        <a href="{{ patientdata.get_absolute_url }}">
          {{ patientdata.last_name }}, {{ patientdata.first_name }} ({{ patientdata.date_of_birth }}) - {{ patientdata.notes }}
        </a>
      </li>
    {% empty %}
      <p>There are no patient data in the database.</p>
    {% endfor %}
  </ul>
{% endblock %}