{% extends "base.html" %}

{% block content %}
  <h1>Patient: {{ patientdata }}</h1>
  <hr>
  <p><strong>Last Name:</strong> <a href="">{{ patientdata.last_name }}</a>
  <button id="edit" class="controlButtonXS" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
            title="Edit Camera Data"><i class="material-icons" style="font-size: 22px">create</i></button></p>
  <p><strong>First Name:</strong> {{ patientdata.first_name }}</p>
  <p><strong>Date of Birth:</strong> {{ patientdata.date_of_birth }}</p> 
  <p><strong>Notes:</strong> {{ patientdata.notes }}</p>

  <div style="margin-left:20px;margin-top:40px">
    <h4>Wearable Data Session History</h4>

    {% for wearable in patientdata.wearabledata_set.all %}
      <hr>
      <p><strong>Time:</strong> <a href="{% url 'wearabledata-detail' wearable.id %}">{{ wearable.time }}</a></p>
      <p><strong>File:</strong> <a href="{{ media_url }}{{ wearable.filename }}">{{ wearable.filename }}</a></p>
      <p><strong>Note:</strong> {{wearable.note}}</p>
      <p class='text-muted'><strong>Id:</strong> {{wearable.id}}</p>
    {% endfor %}
  </div>

  <div style="margin-left:20px;margin-top:40px">
    <h4>Camera Data Session History</h4>

    {% for camera in patientdata.cameradata_set.all %}
      <hr>
      <p><strong>Time:</strong> <a href="{% url 'cameradata-detail' camera.id %}">{{ camera.time }}</a></p>
      <p><strong>File:</strong> <a href="{{ media_url }}{{ camera.filename }}">{{ camera.filename }}</a></p>
      <p><strong>Note:</strong> {{camera.note}}</p>
      <p class='text-muted'><strong>Id:</strong> {{camera.id}}</p>
    {% endfor %}
  </div>
{% endblock %}