{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Patient: {{ patientdata }}</h1>
    {% if perms.sensors.can_alter_patientdata %}
      <button id="edit" class="titleButton controlButtonXL" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
              title="Edit Patient Data" onclick='window.location.href="{% url 'edit-patientdata' patientdata.id %}"'>
        <i class="material-icons buttonIconS">create</i>
        <span class="buttonText">Edit</span>
      </button>
    {% endif %}
  </div>
  <hr>
  <p><strong>Last Name: </strong>{{ patientdata.last_name }}</p>
  <p><strong>First Name: </strong>{{ patientdata.first_name }}</p>
  <p><strong>Date of Birth: </strong>{{ patientdata.date_of_birth }}</p>
  <p><strong>Patient Note: </strong>{{ patientdata.notes }}</p>

  <div style="margin-left:20px;margin-top:40px">
    <div class="titleText">
      <h4>Wearable Data Session History</h4>
      {% if perms.sensors.can_alter_wearabledata %}
        <button type='button' class="createNewSessionButton controlButtonXL" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                title="Create Wearable Data" onclick='window.location.href="{% url 'create-wearabledata' patientdata.id %}"'>
          <i class="material-icons buttonIconS">add</i>
          <span class="buttonText">Create New</span>
        </button>
      {% endif %}
    </div>
    {% for wearable in patientdata.wearables.all %}
      <hr>
      <p><strong>View Session Data: </strong><a href="{% url 'wearabledata-detail' wearable.id %}">{{ wearable.time }}</a></p>
      <p><strong>Download File: </strong><a href="{{ media_url }}{{ wearable.filename }}">{{ wearable.filename }}</a></p>
      <p><strong>Session Note: </strong>{{wearable.note}}</p>
      <p class='text-muted'><strong>Session Id: </strong>{{wearable.id}}</p>
    {% empty %}
      <hr>
      <p><em>No data.</em></p>
    {% endfor %}
  </div>

  <div style="margin-left:20px;margin-top:40px">
    <div class="titleText">
      <h4>Camera Data Session History</h4>
      {% if perms.sensors.can_alter_cameradata %}
        <button type='button' class="createNewSessionButton controlButtonXL" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                title="Create Camera Data" onclick='window.location.href="{% url 'create-cameradata' patientdata.id %}"'>
          <i class="material-icons buttonIconS">add</i>
          <span class="buttonText">Create New</span>
        </button>
      {% endif %}
    </div>
    {% for camera in patientdata.cameras.all %}
      <hr>
      <p><strong>View Session Data: </strong><a href="{% url 'cameradata-detail' camera.id %}">{{ camera.time }}</a></p>
      <p><strong>Download File: </strong><a href="{{ media_url }}{{ camera.filename }}">{{ camera.filename }}</a></p>
      <p><strong>Session Note: </strong>{{camera.note}}</p>
      <p class='text-muted'><strong>Session Id: </strong>{{camera.id}}</p>
    {% empty %}
      <hr>
      <p><em>No data.</em></p>
    {% endfor %}
  </div>
{% endblock %}