{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Patient Data</h1><button type='button' class="titleButton controlButtonXL"><i class="material-icons buttonIconS">add</i>Create New</button>
  </div>
  <hr>
  {% if patientdata_list %}
  <ul>
    {% for patientdata in patientdata_list %}
      <li>
        <a href="{{ patientdata.get_absolute_url }}">
          {{ patientdata.last_name }}, {{ patientdata.first_name }} ({{ patientdata.date_of_birth }})
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no patient data in the database.</p>
  {% endif %}       
{% endblock %}