{% extends "base.html" %}

{% block title %}<title>Bristol Sphere PD Sensors - Wearable Data</title>{% endblock %}

{% block head_add %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"
          integrity="sha384-QzN1ywg2QLsf72ZkgRHgjkB/cfI4Dqjg6RJYQUqH6Wm8qp/MvmEYn+2NBsLnhLkr"
          crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <div class="titleText">
    <h1>Patient:
      <a href="{{ wearabledata.patient.get_absolute_url }}" data-toggle="tooltip" data-placement="bottom"
         data-trigger="hover" title="Link to patient data page">{{ wearabledata.patient }}
      </a>
    </h1>
    {% if perms.sensors.can_alter_wearabledata %}
      <button id="edit" class="titleButton controlButtonXL" data-toggle="tooltip" data-placement="bottom"
              data-trigger="hover" title="Edit Wearable Data"
              onclick='window.location.href="{% url 'edit-wearabledata' wearabledata.id %}"'>
        <i class="material-icons buttonIconS">create</i> Edit
      </button>
    {% endif %}
  </div>
  <p><em>Session Time:</em> {{ wearabledata.time }}
    <span class="vert-divider">|</span> <em>Note:</em> {{ wearabledata.note }}
  </p>
  <hr>
  <h4>Wearable Data Visualization</h4>
  <canvas id="myChart" width="500" height="400" style="margin-top: 25px"></canvas>
  <hr>
  <div style="margin-left:20px;margin-top:20px">
    <span>
      <h4>Wearable Annotations
        {% if perms.sensors.can_alter_wearableannotation %}
          <button type='button' class="controlButtonS" data-toggle="tooltip"
                  data-placement="bottom" data-trigger="hover" title="Create Wearable Annotation"
                  onclick='window.location.href="{% url 'create-wearable-annotation' wearabledata.id %}"'>
            <i class="material-icons">add</i>
          </button>
        {% endif %}
        <button id="import" class="controlButtonS" data-toggle="tooltip" data-placement="bottom"
                onclick='window.location.href="{% url 'upload_csv_annotation' wearabledata.id %}"'
                data-trigger="hover" title="Import annotations"><i class="material-icons">cloud_upload</i>
        </button>
      </h4>
    </span>
    <ul>
      {% for annotation in wearabledata.w_annotations.all %}
        <li>
          <a href="{% url 'wearableannotation-detail' wearabledata.id annotation.id %}">
            Frames {{ annotation.frame_begin }}-{{ annotation.frame_end }}: {{ annotation.get_annotation_display }}
          </a>
          {% if user.is_authenticated %}
            {% if annotation.annotator == user %}
              <button id="annotation_{{ annotation.id }}_edit" class="controlButtonXS"
                      onclick='window.location.href="{% url 'edit-wearable-annotation' wearabledata.id annotation.id %}"'>
                <i class="material-icons buttonIcon" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"
                   title="Edit annotation">edit</i>
              </button>
            {% endif %}
          {% endif %}
        </li>
      {% empty %}
        <p>There are no wearable annotations in the database.</p>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block jquery %}
  var ctx = document.getElementById('myChart').getContext('2d');

  var myChart = new Chart(ctx, {
     type: 'line',
     data: {
        labels: [{% for data in wearabledata.data_point.all %}{{ data.frame }}, {% endfor %}],
        datasets: [{
           label: 'Wearable Data Visualization',
           fill: true, // Set to false to only display line
           data: [{% for data in wearabledata.data_point.all %}{{ data.magnitude }}, {% endfor %}],
           backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
           ],
           borderColor: [
              'rgba(255, 99, 132, 1)',
           ],
           borderWidth: 1
        }],
     },
     options: {
        responsive: true,
        animation: {
           duration: 0
        },
        legend: {
           display: false
        },
        tooltips: {
           callbacks: {
              label: function(tooltipItem) {
                 return tooltipItem.yLabel;
              }
           }
        },
        title: {
           display: false,
           text: ''
        },
        tooltips: {
           mode: 'index',
           intersect: false,
        },
        hover: {
           mode: 'nearest',
           intersect: true
        },
        /*
        elements: { d
          line: {
              tension: 0 // disables bezier curves for better performance with large amounts of data
          }
        },
        */
        scales: {
           xAxes: [{
              display: true,
              scaleLabel: {
                 display: true,
                 labelString: 'Frame'
              }
           }],
           yAxes: [{
              display: true,
              scaleLabel: {
                 display: true,
                 labelString: 'Average Magnitude'
              }
           }]
        }
     }
  });
{% endblock %}