{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Wearable Data</h1>
    {% if perms.sensors.can_alter_wearabledata %}
      <button type='button' class="titleButton controlButtonXL">
        <i class="material-icons buttonIconS">add</i>Create New
      </button>
    {% endif %}
  </div>
  <hr>
  {% if wearabledata_list %}
  <ul>
    {% for wearabledata in wearabledata_list %}
      <li>
        <a href="{{ wearabledata.get_absolute_url }}">
          {{ wearabledata.patient }} ({{ wearabledata.time }}) - {{ wearabledata.note }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no wearable data in the database.</p>
  {% endif %}       
{% endblock %}