{% extends "base.html" %}

{% block content %}
  <div class="titleText">
    <h1>Wearable Data</h1>
    <button type='button' class="titleButton controlButtonXL"><i class="material-icons buttonIconS">add</i>Create New</button>
  </div>
  <hr>
  {% if wearabledata_list %}
  <ul>
    {% for wearabledata in wearabledata_list %}
      <li>
        <a href="{{ wearabledata.get_absolute_url }}">
          {{ wearabledata.patient }} ({{ wearabledata.time }})
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no wearable data in the database.</p>
  {% endif %}       
{% endblock %}