{% extends "base.html" %}

{% block content %}
  <h1>PD Sensors Home</h1>
  <hr>
  <p>PD Sensors for Bristol Sphere</p>
  <h2>Data Overview</h2>
  <p>The database has the following records:</p>
  <ul>
    <li><strong>Patients:</strong> {{ num_patients }}</li>
    <li><strong>Wearables:</strong> {{ num_wearables }} <em>(number of total annotations: {{ num_wearable_annotations }})</em></li>
    <li><strong>Cameras:</strong> {{ num_cameras }} <em>(number of total annotations: {{ num_camera_annotations }})</em></li>
  </ul>
{% endblock %}